@media screen and (max-width: 800px){

/* components  */

.feature-btn{
    padding: 0.5rem 0.9rem;
}
.fbar-para{
    padding: 0;
}
.head-small{
    font-size: 1.5rem;
}
.header_head{
    font-size: 3rem;
}
.header_para{
    font-size: 1.8rem;
}

/* components end */
/* navbar  */
.nav-mr{
    margin-right: 1rem;
}

.navbar-tool-text{
    display: none;
}
.navbar-expand-lg {
    padding: 1.5rem;
}

/* navbar  */

/* main header  */
.main_header .row{
    flex-direction: column-reverse;
    
}
.main_header_right{
    padding: 2rem 3rem;
}
.header-img{
    width: 15rem;
}
.main_header_left{
    height: auto;
    padding: 2rem;
    padding-left: 2.2rem;
    margin-bottom: 2rem;
}

/* about us  */
.aboutRow{
    flex-direction: column-reverse;
}
.aboutDetails{
    padding-left: 3rem;
    padding-bottom: 3rem;
}

/* category off  */
.catgContainer{
    flex-wrap: wrap;
}
.catgCard{
    width: 48%;
    height: 40rem;
    margin: 5px auto;
    object-fit: contain;
}
.catgCard-2{
    object-fit: contain;
}

/* newsletter  */
#newsletter{
    width: 100%;
}
.newsletterBtn{
    display: block;
    margin: 1.2rem auto;
    padding: 1rem 2rem;;
}

/* about page  */
.aboutDetails{
    padding-left: 3rem;
    padding-top: 2rem;
}

/* shop page  */
.productFilter_lists{
    display: none;
}
.product_container{
    width: 100%;
}
.product_container_header h2{
    font-size: 2rem;
}
.product_shortner{
    width: auto;
}


/* orders page  */
.cartProductThumb{
    padding: 1rem;
}



}