@media screen and (max-width: 800px){

/* components  */

.feature-btn{
    padding: 0.5rem 0.9rem;
}
.fbar-para{
    padding: 0;
}



/* components end */


/* about us  */
.aboutRow{
    flex-direction: column-reverse;
}
.aboutDetails{
    padding-left: 3rem;
    padding-bottom: 3rem;
}

/* category off  */
.catgContainer{
    flex-wrap: wrap;
}
.catgCard{
    width: 48%;
    height: 40rem;
    margin: 5px auto;
    object-fit: contain;
}
.catgCard-2{
    object-fit: contain;
}

/* newsletter  */
#newsletter{
    width: 100%;
}
.newsletterBtn{
    display: block;
    margin: 1.2rem auto;
    padding: 1rem 2rem;;
}












}